apiVersion: v1
kind: Service
metadata:
  name: application-manager
  labels:
    app.kubernetes.io/name: application-manager
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: application-manager
    app.kubernetes.io/component: api
